# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local
.env.*.local
.env.development
.env.production
.env.staging

# Temporary
*.tmp
*.temp

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Firebase
firebase-config.js
firebaseServiceAccount*.json

# App Signing & Credentials
*.keystore
!debug.keystore
credentials.json
playbeacon-play-store-service-account.json
google-services.json
GoogleService-Info.plist
